numpy              # Core library for numerical computing, handling arrays and matrices
pandas             # Data manipulation and analysis, especially for structured data (like DataFrames)
matplotlib         # Basic plotting library for static, animated, and interactive visualizations
seaborn            # Built on matplotlib, it's used for statistical data visualization
scikit-learn       # Machine learning library for data mining and data analysis (e.g., regression, classification)
tqdm               # Progress bar library, great for showing progress in loops and operations
openpyxl           # Used for reading and writing Excel (xlsx) files
tensorflow         # Popular deep learning framework for building neural networks
torch              # Deep learning framework by Facebook, based on dynamic computation graphs
requests           # HTTP library for making requests to web services and APIs